{% extends '../authorization/authorization-layout.twig' %}

{% block appTitle %}
  Reset Password
{% endblock %}

{% block headerMessage %}
  Login to continue using Trusted Leader 360&deg;
{% endblock %}

{% block authorizationContent %}

  <div class="login-form w-100">
    {% include '../partials/validationErrors.twig' %}
    <h1 class="mb-3">Reset Password</h1>
    <h6 class="fw-light text-secondary mb-md-3 mb-4 ff-montserrat">Please enter a new password</h6>
    <div class="mb-5">
      <ul class="fst-italic" style="font-size: 14px; color: red;">
        <li>Password must contain at-least one Small Letter</li>
        <li>Password must contain at-least one Capital Letter</li>
        <li>Password must contain at-least one Number</li>
        <li>
          Password must contain at-least one Special character (!@#$&*)
        </li>
        <li>The field must have a min length of 8</li>
      </ul>
    </div>
    <form action="{{ url('reset-password') }}" method="POST">
        <input type="hidden" name="token" value="{{ query('token') }}">
        <input type="hidden" name="email" value="{{ email }}">
        <div class="form-group mb-3">
          <label for="password" class="form-label">New Password*</label>
          <div class="position-relative">
          <input type="password" id="password" name="password" autocomplete="on" class="form-control">
          <div class="eye">
            {# <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
              <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
            </svg> #}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
              <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
              <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"/>
            </svg>
          </div>
        </div>
        </div>
        <div class="form-group mb-3">
          <label for="confirm_password" class="form-label">Confirm Password*</label>
          <div class="position-relative">
          <input type="password" id="confirm_password" name="confirm_password" autocomplete="on" class="form-control">
          <div class="eye">
            {# <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
              <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
            </svg> #}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
              <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
              <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"/>
            </svg>
          </div>
        </div>
        </div>
      <div class="form-group mt-4 mt-md-5">
        <button class="btn btn-primary bg-theme btn-lg w-100" type="submit">Confirm Password</button>
      </div>
    </form>
  </div>

{% endblock %}
